    * {
        font-family: "Arial";
        margin-top: 0;
        margin-bottom: 0;
    }
    
    #social {
        width: 20px;
        margin-left: 5%;
    }

    #social1 {
        width: 40px;
        margin-left: -15%;
        margin-top: -14%;
    }

    #q{
        color: white;
    }   

    #arrow_left{
        position: absolute;
        top: 50vh;
        left: calc(50vw - 35%);
        z-index: 200;
        width: 20%;
        background-color: white;
        border-radius: 20px;
    }
    #arrow_right{
        transform: rotate(180deg);
        position: absolute;
        top: 50vh;
        right: calc(50vw - 35%);
        z-index: 200;
        width: 20px;
        background-color: white;
        border-radius: 20px;
    }
    #tyl{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background-color: aqua;
        z-index: 100;
    }

.new{
    width: 85px; 
    height: 90px;}

header, .navbar{
  position: fixed;
  top: 0;
  width: 100%;
    }

main{
    margin-top: 110px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
